.Carousel {
    margin-top: 20PX;
    padding: 10px;

}

@media screen and (max-width:600px) {
    .Carousel {
        padding: 0px;
    }


    .Carousel .slide img {
        width: 100vw !important;
        object-fit: cover;
    }

}